<nz-layout>
    <div class="wrp-content-order">
        <h2>Orden recibida</h2>
        <p>
            Muchas gracias, tu orden ha sido recibida y sera confirmada después de revisar el pago
        </p>
        
        <nz-descriptions>
            <nz-descriptions-item nzTitle="N° Pedido">#2050</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Fecha">2022-01-26</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Total">S/199.99</nz-descriptions-item>
        </nz-descriptions>
    
        <h2>Detalle del pedido</h2>
        <table width="100%">
            <ng-container *ngFor="let c of cart$ | async">
              <tr>
                <td>
                  <img
                      nz-image
                      width="64px"
                      height="64px"
                      [nzSrc]="c.product_image"
                      alt=""
                    />
                </td>
                <td>{{c.product_name}}</td>
                <td>
                  x {{c.quantity}}
                </td>
                
                <td align="right">S/{{ (c.price * c.quantity) }}</td>
                
              </tr>
              <tr><td colspan="5"><nz-divider></nz-divider></td></tr>
            </ng-container>
  
            <tr>
              <td colspan="3"><h4>Total</h4></td>
              <td align="right"><h4>S/30.00</h4></td>
            </tr>
        </table>
    </div>
</nz-layout>

