<nz-layout>
    <nz-content>
        <div nz-row>
            <div class="wrp-content-register">
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label
                          [nzSm]="6"
                          [nzXs]="24"
                          nzFor="firstname"
                          nzRequired
                        >
                          <span>Nombres completos</span>
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Queremos conocerte!">
                          <input nz-input id="firstname" formControlName="firstname" />
                        </nz-form-control>
                      </nz-form-item>
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Correo</nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Tu correo es importante para comunicarnos!">
                        <input nz-input formControlName="email" id="email" />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Contraseña</nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa tu contraseña!">
                        <input
                          nz-input
                          type="password"
                          id="password"
                          formControlName="password"
                          (ngModelChange)="changeConfirmValidator()"
                          maxlength="8"
                        />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm contraseña</nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                        <input nz-input type="password" formControlName="checkPassword" id="checkPassword"/>
                        <ng-template #errorTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">Por favor confirma tu contraseña!</ng-container>
                          <ng-container *ngIf="control.hasError('confirm')">
                            La contraseña no coincide!
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row class="register-area">
                      <nz-form-control [nzSpan]="14" [nzOffset]="6">
                        <button nz-button nzBlock nzType="primary" [disabled]="!validateForm.valid">Registrarse</button>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
            </div>
        </div>
    </nz-content>
</nz-layout>

